:root {
    --text: #000000;
    --background: #cac8c8;
    --primary: #020024;
    --secondary: #01022c;
    --accent: #0c0750;
}

* {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 1.5cap;
    padding-top: 1ch;
    padding-bottom: 1ch;
    padding-right: 1ch;
    padding-left: 1ch;
    margin: 5% 0;
}

body {
    color: var(--text);
    background: var(--background);
    font-family: "DM Serif Text"
}

h1,
h2,
h3
{
color: var(--primary);
font-family: "DM Serif Text"
}

li,
p {
    font-size: medium;
    font-weight: 100;
    font-style: normal;
}
