:root {
    --text: #000000;
--background: #fbfbfe;
--primary: #000000;
--secondary: #000000;
--accent: #000000;
}

body {
    color: var(--text);
    background: var(--background);
    font-family: "Racing Sans One"
}

h1,
h2,
h3 {
    color: var(--primary);
    font-family: "Racing Sans One"
}

