:root {
    --text: #020068;
    --background: #bbb7b7;
    --primary: #07006d;
    --secondary: #0306a5;
    --accent: #0c0750;
}

* {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 1.5cap;
    padding-top: 1ch;
    padding-bottom: 1ch;
    padding-right: 1ch;
    padding-left: 1ch;
    margin: 5% 0;
}

body {
    color: var(--text);
    background: var(--background);
    font-family: "DM Serif Text"
}

h1,
h2,
h3
{
color: var(--primary);
font-family: "DM Serif Text"
}

li,
p {
    font-size: medium;
    font-weight: 100;
    font-style: normal;
}
